---
import PageLayout from '@/layouts/PageLayout.astro';
import {SITE_NAME, LEGAL_ENTITY, LEGAL_INN, LEGAL_CITY} from '@/const';
---

<PageLayout
    h1="О бренде"
    title="О бренде"
    breadcrumb={[{name:"О бренде",href:""}]}
>

    <p>Модельный ряд бренда Solaris представлен моделями Solaris HS, Solaris HC, Solaris KRS и Solaris KRX.</p>

    <p>Автомобили производятся на предприятии ООО «Автомобильный завод «АГР» в Санкт-Петербурге.</p>
    <p>Solaris HS – это субкомпактный пятиместный седан. Автомобиль доступен в комплектациях Active Plus, Comfort и Elegance с широким выбором цветовых решений. В зависимости от комплектации мотор сопряжен механической или автоматической коробкой передач. Желающие выделиться в городском потоке по достоинству оценят специальную серию Sportline.</p>
    <p>Solaris HC - компактный кроссовер в комплектациях Classic, Family и Lifestyle доступен как с механической, так и с автоматической коробкой передач. Также будет доступна специальная серия N-Line, выполненная в спортивной стилистике.</p>
    <p>Городской седан Solaris KRS и маневренный кросс-хэтчбек Solaris KRX оснащены 1,6-литровым бензиновым двигателем мощностью 123 л.с. и автоматической или механической коробками передач. Solaris KRS представлен в комплектациях Classic, Comfort и Prestige. Solaris KRX доступен в продаже в комплектациях Comfort, Luxe, Style, Prestige и Premium.</p>
    <p>Подробная информация по комплектациям и ценам автомобилей доступна в дилерских предприятиях сети. Приобрести модели Solaris HS, Solaris HC, Solaris KRS и Solaris KRX можно в официальных дилерских центрах Solaris.</p>
    <p>Гарантия на автомобили составляет 3 года или 100 000 километров пробега – в зависимости от того, что наступит ранее.</p>
    
</PageLayout>